<form class="form-auth" ng-submit="login()">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2>Log In As Administrator</h2>
  <hr>
  <p class="text-warning">{{error_message}}</p>
  <input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
  <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
  <input type="submit" value="Log in" class="btn btn-primary" />
  <hr>
  <p class="text-muted">If you want to leave us a message instead, click on 'CONTACT'</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</form>
    